body {
    font-family: 'Courier New', Courier, monospace;
}

/* HOMEPAGE */

body.homepage {
    background-attachment: fixed;
    background-image: url(./images/kitchen-background-1024x683.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.homepage h1 {
    font-size: 40px;
    color: whitesmoke;
    background-color: darkslategray;
    width: 325px;
    margin: 1.5em auto 1em auto;
    padding-top: 5px;
    border-radius: 5px;
}

.index-links {
    font-size: 26px;
    width: 325px;
    margin: auto;
    /* color: black; */
    background-color: rgba(47, 79, 79, 75%);
    padding: 0.6em 0 0.4em 0;
    border-radius: 5px;
}

.index-links,a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 3px;
}

.index-links,a:hover {
    color: darksalmon;
}

.index-links,a:active {
    color: chocolate;
}

.index-links,a:visited {
    color: darkgray;
}

/* RECIPE PAGES */

body.recipe-page {
    background-attachment: fixed;
    background-image: url(./images/blackboard-1072366_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
